@import url(https://fonts.googleapis.com/css?family=Quicksand:400,300);
html, body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  text-align: center; }

header {
  margin-bottom: 5%; }

.container > .row:first-child {
  margin-top: 0%; }

.row {
  margin: 5% 0%; }

.btn {
  display: block;
  border-radius: 0px; }

.sass {
  color: #c6538c; }

.clipboard {
  color: #1BC1A1; }

.github > * {
  display: inline-block; }

.gh-count {
  display: none; }

.gray {
  color: #675757; }

code {
  display: block; }

.red > .btn:nth-child(1) {
  background: #f44336; }
.red > .btn:nth-child(2) {
  background: #ffebee; }
.red > .btn:nth-child(3) {
  background: #ffcdd2; }
.red > .btn:nth-child(4) {
  background: #ef9a9a; }
.red > .btn:nth-child(5) {
  background: #e57373; }
.red > .btn:nth-child(6) {
  background: #ef5350; }
.red > .btn:nth-child(7) {
  background: #f44336; }
.red > .btn:nth-child(8) {
  background: #e53935; }
.red > .btn:nth-child(9) {
  background: #d32f2f; }
.red > .btn:nth-child(10) {
  background: #c62828; }
.red > .btn:nth-child(11) {
  background: #b71c1c; }
.red > .btn:nth-child(12) {
  background: #ff8a80; }
.red > .btn:nth-child(13) {
  background: #ff5252; }
.red > .btn:nth-child(14) {
  background: #ff1744; }
.red > .btn:nth-child(15) {
  background: #d50000; }

.pink > .btn:nth-child(1) {
  background: #e91e63; }
.pink > .btn:nth-child(2) {
  background: #fce4ec; }
.pink > .btn:nth-child(3) {
  background: #f8bbd0; }
.pink > .btn:nth-child(4) {
  background: #f48fb1; }
.pink > .btn:nth-child(5) {
  background: #f06292; }
.pink > .btn:nth-child(6) {
  background: #ec407a; }
.pink > .btn:nth-child(7) {
  background: #e91e63; }
.pink > .btn:nth-child(8) {
  background: #d81b60; }
.pink > .btn:nth-child(9) {
  background: #c2185b; }
.pink > .btn:nth-child(10) {
  background: #ad1457; }
.pink > .btn:nth-child(11) {
  background: #880e4f; }
.pink > .btn:nth-child(12) {
  background: #ff80ab; }
.pink > .btn:nth-child(13) {
  background: #ff4081; }
.pink > .btn:nth-child(14) {
  background: #f50057; }
.pink > .btn:nth-child(15) {
  background: #c51162; }

.purple > .btn:nth-child(1) {
  background: #9c27b0; }
.purple > .btn:nth-child(2) {
  background: #f3e5f5; }
.purple > .btn:nth-child(3) {
  background: #e1bee7; }
.purple > .btn:nth-child(4) {
  background: #ce93d8; }
.purple > .btn:nth-child(5) {
  background: #ba68c8; }
.purple > .btn:nth-child(6) {
  background: #ab47bc; }
.purple > .btn:nth-child(7) {
  background: #9c27b0; }
.purple > .btn:nth-child(8) {
  background: #8e24aa; }
.purple > .btn:nth-child(9) {
  background: #7b1fa2; }
.purple > .btn:nth-child(10) {
  background: #6a1b9a; }
.purple > .btn:nth-child(11) {
  background: #4a148c; }
.purple > .btn:nth-child(12) {
  background: #ea80fc; }
.purple > .btn:nth-child(13) {
  background: #e040fb; }
.purple > .btn:nth-child(14) {
  background: #d500f9; }
.purple > .btn:nth-child(15) {
  background: #aa00ff; }

.deep-purple > .btn:nth-child(1) {
  background: #673ab7; }
.deep-purple > .btn:nth-child(2) {
  background: #ede7f6; }
.deep-purple > .btn:nth-child(3) {
  background: #d1c4e9; }
.deep-purple > .btn:nth-child(4) {
  background: #b39ddb; }
.deep-purple > .btn:nth-child(5) {
  background: #9575cd; }
.deep-purple > .btn:nth-child(6) {
  background: #7e57c2; }
.deep-purple > .btn:nth-child(7) {
  background: #673ab7; }
.deep-purple > .btn:nth-child(8) {
  background: #5e35b1; }
.deep-purple > .btn:nth-child(9) {
  background: #512da8; }
.deep-purple > .btn:nth-child(10) {
  background: #4527a0; }
.deep-purple > .btn:nth-child(11) {
  background: #311b92; }
.deep-purple > .btn:nth-child(12) {
  background: #b388ff; }
.deep-purple > .btn:nth-child(13) {
  background: #7c4dff; }
.deep-purple > .btn:nth-child(14) {
  background: #651fff; }
.deep-purple > .btn:nth-child(15) {
  background: #6200ea; }

.indigo > .btn:nth-child(1) {
  background: #3f51b5; }
.indigo > .btn:nth-child(2) {
  background: #e8eaf6; }
.indigo > .btn:nth-child(3) {
  background: #c5cae9; }
.indigo > .btn:nth-child(4) {
  background: #9fa8da; }
.indigo > .btn:nth-child(5) {
  background: #7986cb; }
.indigo > .btn:nth-child(6) {
  background: #5c6bc0; }
.indigo > .btn:nth-child(7) {
  background: #3f51b5; }
.indigo > .btn:nth-child(8) {
  background: #3949ab; }
.indigo > .btn:nth-child(9) {
  background: #303f9f; }
.indigo > .btn:nth-child(10) {
  background: #283593; }
.indigo > .btn:nth-child(11) {
  background: #1a237e; }
.indigo > .btn:nth-child(12) {
  background: #8c9eff; }
.indigo > .btn:nth-child(13) {
  background: #536dfe; }
.indigo > .btn:nth-child(14) {
  background: #3d5afe; }
.indigo > .btn:nth-child(15) {
  background: #304ffe; }

.blue > .btn:nth-child(1) {
  background: #2196f3; }
.blue > .btn:nth-child(2) {
  background: #e3f2fd; }
.blue > .btn:nth-child(3) {
  background: #bbdefb; }
.blue > .btn:nth-child(4) {
  background: #90caf9; }
.blue > .btn:nth-child(5) {
  background: #64b5f6; }
.blue > .btn:nth-child(6) {
  background: #42a5f5; }
.blue > .btn:nth-child(7) {
  background: #2196f3; }
.blue > .btn:nth-child(8) {
  background: #1e88e5; }
.blue > .btn:nth-child(9) {
  background: #1976d2; }
.blue > .btn:nth-child(10) {
  background: #1565c0; }
.blue > .btn:nth-child(11) {
  background: #0d47a1; }
.blue > .btn:nth-child(12) {
  background: #82b1ff; }
.blue > .btn:nth-child(13) {
  background: #448aff; }
.blue > .btn:nth-child(14) {
  background: #2979ff; }
.blue > .btn:nth-child(15) {
  background: #2962ff; }

.light-blue > .btn:nth-child(1) {
  background: #03a9f4; }
.light-blue > .btn:nth-child(2) {
  background: #e1f5fe; }
.light-blue > .btn:nth-child(3) {
  background: #b3e5fc; }
.light-blue > .btn:nth-child(4) {
  background: #81d4fa; }
.light-blue > .btn:nth-child(5) {
  background: #4fc3f7; }
.light-blue > .btn:nth-child(6) {
  background: #29b6f6; }
.light-blue > .btn:nth-child(7) {
  background: #03a9f4; }
.light-blue > .btn:nth-child(8) {
  background: #039be5; }
.light-blue > .btn:nth-child(9) {
  background: #0288d1; }
.light-blue > .btn:nth-child(10) {
  background: #0277bd; }
.light-blue > .btn:nth-child(11) {
  background: #01579b; }
.light-blue > .btn:nth-child(12) {
  background: #80d8ff; }
.light-blue > .btn:nth-child(13) {
  background: #40c4ff; }
.light-blue > .btn:nth-child(14) {
  background: #00b0ff; }
.light-blue > .btn:nth-child(15) {
  background: #0091ea; }

.cyan > .btn:nth-child(1) {
  background: #00bcd4; }
.cyan > .btn:nth-child(2) {
  background: #e0f7fa; }
.cyan > .btn:nth-child(3) {
  background: #b2ebf2; }
.cyan > .btn:nth-child(4) {
  background: #80deea; }
.cyan > .btn:nth-child(5) {
  background: #4dd0e1; }
.cyan > .btn:nth-child(6) {
  background: #26c6da; }
.cyan > .btn:nth-child(7) {
  background: #00bcd4; }
.cyan > .btn:nth-child(8) {
  background: #00acc1; }
.cyan > .btn:nth-child(9) {
  background: #0097a7; }
.cyan > .btn:nth-child(10) {
  background: #00838f; }
.cyan > .btn:nth-child(11) {
  background: #006064; }
.cyan > .btn:nth-child(12) {
  background: #84ffff; }
.cyan > .btn:nth-child(13) {
  background: #18ffff; }
.cyan > .btn:nth-child(14) {
  background: #00e5ff; }
.cyan > .btn:nth-child(15) {
  background: #00b8d4; }
